li {
  width:300px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  

  .form-group {
    margin-bottom: 5px;
  }

  h1 {
    color: red;
  }

  body {
    background-color: #fad303 !important;
  
  }

  
  
  