<li>
      {{burger_name}}
      {{#unless devoured}}
      <button class="change-devoured" data-id="{{item_id}}" data-newDevoured="{{devoured}}">

      Devourer Burger!

      </button>


      {{/unless}}

      </li>